* {
    margin: 0;
    padding: 0;
    user-select: none;
}
.section {
    max-width: 500px;
    background: #fff;
    display: flex;
}
input[type=radio] {
    display: none;
}
div.project {
    display: none;
}
input[type=radio]:checked + div.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
label {
    color: black;
    background-color: var(--clr);
    padding: 0 12px;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    margin-top: 10px;
}
h1 {
    color: skyblue;
}